.intro-heading {
  color: rgb(243, 146, 6);
  font-size: 35px;
  text-shadow: 0px 0px 7px #9e78fb;
  text-transform: uppercase;
}

.skills-header {
  color: white;
  text-shadow: 3px 3px 3px lightblue;
  font-weight: bold;
  text-transform: uppercase;
}
