.contact-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.contact-me-form {
  flex-direction: column;
  padding: 0.5rem;
}

.contact-me-header {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #9e78fb;
  text-shadow: 2px 3px 3px black;
}

.mr-5 {
  margin-right: 25px;
}
