.nav-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-column-link {
  font-size: 20px;
  font-family: Aleo, serif;
  text-decoration: none;
  color: white;
}

.overlay {
  box-shadow: inset 0 0 0 2000px rgb(34 35 39 / 75%);
}

.navigation {
  position: relative;
  width: 100%;
  margin: 0;
  box-shadow: inset 0 0 0 2000px rgb(34 35 39 / 75%);
}

.navigation > .col {
  height: 100%;
}

.icons-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons-nav i {
  color: white;
}
.app-marketplace-link {
  cursor: pointer;
}
.card-featured-proj {
  right: 100px;
  box-shadow: 3px 5px 10px;
}

@media only screen and (max-width: 991px) {
  .icons-nav {
    width: 100%;
    margin-bottom: 1rem;
  }
  .header-desc {
    text-align: center;
    padding: 1rem;
  }
  .header-section {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .row.row-featured-proj {
    flex-direction: column;
  }
  .card-featured-proj {
    right: 0px;
    margin-top: 1rem;
  }
  .about-me-header {
    right: 0px !important;
  }
  .headshot {
    left: 45px;
  }
  #background-video {
    height: 250vh;
  }
}
