@keyframes slide-in-card {
  from {
    right: -600px;
  }
  to {
    right: 100px;
  }
}

.slide-in-from-right {
  animation: slide-in-card 1s ease-in-out;
}

.featured-project h2 {
  transition: 0.3s ease-in-out;
}

.featured-project h2:hover {
  transform: translate(1.1);
  color: white;
}

.featured-project-link {
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}
.featured-project-link:hover {
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}
