/* global styles here */
html {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
}
.project-link {
  color: black;
}

.display-flex {
  display: flex;
}
.project-container {
  flex-wrap: wrap;
}
.justify-content-s-a {
  justify-content: space-around;
}
/* for the background of the header */
.header-color-primary {
  background-color: rgb(152, 71, 190);
  fill: rgb(152, 71, 190);
}
.header-color-secondary {
  background-color: rgb(241, 175, 12);
  fill: rgb(241, 175, 12);
}

/* padding 30px for the top and bottom */
.p-t-b-30 {
  padding: 30px 0px;
}
.p-30 {
  padding: 30px;
}

.about-me-header {
  color: white;
  text-transform: uppercase;
  position: relative;
  right: 50px;
  letter-spacing: 7px;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0px 0px 5px var(--bs-indigo);
}

.project-card {
  background: white;
  margin: 1rem;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 2px 3px 5px lightblue;
  position: relative;
  z-index: 10;
}

.view-desc-project {
  border: none;
  border-radius: 9px;
  box-shadow: 2px 3px 2px black;
  background-color: #9e78fb;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 12vw;
  height: 8vh;
}

.view-desc-project:hover {
  box-shadow: 1px 3px 10px black;
}

.github-link-icon {
  color: black;
  transition: 0.2s ease-in-out;
  margin-bottom: 1rem;
}
.link-icon-text {
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s ease-in;
  font-size: 1vw;
}
.github-link-container {
  cursor: pointer;
  transition: 0.5s ease-in;
}

.github-link-icon:hover {
  color: #9e78fb;
}

.github-link-container:hover .link-icon-text {
  color: rgb(12, 176, 241);
  letter-spacing: 2px;
  font-weight: 800;
}

.add-to-home {
  color: white;
  background: linear-gradient(rgb(152, 71, 190), rgb(12, 176, 241) 99%);
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  border: none;
  min-width: 5vw;
  min-height: 7vh;
  transition: 1s ease-in-out;
}

.add-to-home:hover {
  background: linear-gradient(rgb(12, 176, 241), rgb(152, 71, 190) 99%);
}
.reviewer-additional-notes {
  outline: none;
  border: none;
  background-color: rgb(226, 234, 236);
  margin-bottom: 1rem;
  height: 21vh;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  color: grey;
  transition: 0.2s ease-in-out;
}
.reviewer-additional-notes:focus {
  background-color: rgb(12, 176, 241);
  font-weight: bold;
  box-shadow: 3px 3px 2px black;
  color: white;
}
.reviewer-additional-notes:focus::placeholder {
  color: white;
}

.reviewer-name {
  width: 100%;
  outline: none;
  border: none;
  background-color: rgb(226, 234, 236);
  margin-bottom: 1rem;
  height: 9vh;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  color: grey;
  transition: 0.2s ease-in-out;
}
.reviewer-name:focus {
  background-color: rgb(12, 176, 241);
  font-weight: bold;
  box-shadow: 3px 3px 2px black;
  color: white;
}

.reviewer-name:focus::placeholder {
  color: white;
}

.stars-container > div {
  justify-content: center;
}
.close {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}

#root {
  height: 100%;
}

/* titles of pages */
.nw-section-title {
  font-family: Impact, fantasy;
}

/* for labels of many items, such as each name on grid of proejcts */
.nw-item-header.desktop {
  font-size: 1.5vw;
}
.nw-item-header.mobile {
  font-size: 4vw;
}
.nw-item-label {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.nw-grey-text {
  color: grey;
}
.nw-small-text-heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}

.nw-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.animate-slide-left {
  animation: slide-in-left 1.5s linear infinite;
  animation-delay: 500ms;
}
.carousel-control-prev {
  justify-content: start;
  padding: 0.5rem;
  width: 5vw;
}
.carousel-control-next {
  justify-content: end;
  padding: 0.5rem;
  /* take this property off on mobile phones */
  width: 5vw;
}
