/* global styles here */
html {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
}
.project-link {
  color: black;
}

.display-flex {
  display: flex;
}
.project-container {
  flex-wrap: wrap;
}
.justify-content-s-a {
  justify-content: space-around;
}
/* for the background of the header */
.header-color-primary {
  background-color: rgb(152, 71, 190);
  fill: rgb(152, 71, 190);
}
.header-color-secondary {
  background-color: rgb(241, 175, 12);
  fill: rgb(241, 175, 12);
}

/* padding 30px for the top and bottom */
.p-t-b-30 {
  padding: 30px 0px;
}
.p-30 {
  padding: 30px;
}

.about-me-header {
  color: white;
  text-transform: uppercase;
  position: relative;
  right: 50px;
  letter-spacing: 7px;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0px 0px 5px var(--bs-indigo);
}

.project-card {
  background: white;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 3px 3px 8px white;
}

.view-desc-project {
  border-radius: 10px;
  background: linear-gradient(rgb(152, 71, 190), rgb(12, 176, 241) 99%);
  color: white;
  border: white;
  box-shadow: 1px 3px 3px black;
  transition: 0.7s ease-out;
}
.view-desc-project:hover {
  box-shadow: 1px 3px 10px black;
}
