.hero-branding h1 {
  text-shadow: 0px 0px 9px var(--bs-info);
  font-size: 3.5rem;
  letter-spacing: 11px;
  text-transform: uppercase;
}
.hero-branding {
  color: white;
}

.img-col {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
}

.hero-section {
  height: 350px;
}
