.hero-branding h1 {
  text-shadow: 2px 5px 5px var(--bs-info);
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
}
.hero-branding {
  color: white;
}

.img-col {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
}
